<div class="container">
  <h2>Edit san pham </h2>
  <form method="POST" action="/{{sanPham._id}}?_method=PUT"  autocomplete="off">
    <div class="form-group">
      <label for="ten">Tên:</label>
      <input type="text" class="form-control" value="{{sanPham.ten}}" name="ten" required>
    </div>
    <div class="form-group">
      <label for="ten">Mô Tả:</label>
      <input type="text" class="form-control" value="{{sanPham.mota}}" name="mota" required>
    </div>
    <div class="form-group">
      <label for="gia">Giá:</label>
      <input type="text" class="form-control" value="{{sanPham.gia}}" name="gia" required>
    </div>
    <div class="form-group">
      <label for="soluong">Số Lượng:</label>
      <input type="text" class="form-control" value="{{sanPham.soluong}}" name="soluong" required>
    </div>
    <div class="form-group">
      <label for="khuyenmai">Khuyến Mại:</label>
      <input type="text" class="form-control" value="{{sanPham.khuyenmai}}" name="khuyenmai" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>